<?xml version="1.0"?>
<config>
    <modules>
        <Ameos_Swiper>
            <version>1.0.0</version>
        </Ameos_Swiper>
    </modules>
    <global>
        <resources>
            <ameos_swiper_write><connection><use>core_write</use></connection></ameos_swiper_write>
            <ameos_swiper_read><connection><use>core_read</use></connection></ameos_swiper_read>
        </resources>
        <models>
            <ameos_swiper>
                <class>Ameos_Swiper_Model</class>
				<resourceModel>ameos_swiper_mysql4</resourceModel>
            </ameos_swiper>
            <ameos_swiper_mysql4>
                <class>Ameos_Swiper_Model_Mysql4</class>
                <entities>
                    <group><table>swiper_group</table></group>
                    <slide><table>swiper_slide</table></slide>
                </entities>
            </ameos_swiper_mysql4>
        </models>
        <helpers>
            <ameos_swiper>
                <class>Ameos_Swiper_Helper</class>
            </ameos_swiper>
        </helpers>
        <blocks>
            <ameos_swiper>
                <class>Ameos_Swiper_Block</class>
            </ameos_swiper>
        </blocks>
        <resources>
            <ameos_swiper_setup>
                <setup>
                    <module>Ameos_Swiper</module>
                </setup>
            </ameos_swiper_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <ameos_swiper>
                    <file>ameos_swiper.xml</file>
                </ameos_swiper>
            </updates>
        </layout>
    </adminhtml>
	<routers>
		<ameos_swiper>
			<use>admin</use>
			<args>
				<module>Ameos_Swiper</module>
				<frontName>swiper</frontName>
			</args>
		</ameos_swiper>
	</routers>
    <admin>
        <routers>
           <ameos_swiper>
                <use>admin</use>
                <args>
                    <module>Ameos_Swiper</module>
                    <frontName>swiper</frontName>
                </args>
            </ameos_swiper>
        </routers>
    </admin>
</config>
